name: pkb_security_rasp
description: RASP security plugin for Flutter detecting Frida, Root/JB, Debugger, DevOptions, Emulator and App Tampering.
version: 1.0.0
homepage: https://github.com/pirapong/pkb_security_rasp

environment:
  sdk: ^3.10.4
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.pkb.flutter_security_rasp
        pluginClass: FlutterSecurityRaspPlugin
      ios:
        pluginClass: FlutterSecurityRaspPlugin
